#testing {
    display: inline-flex;
    flex-wrap: wrap;
}

#testing > * {
    margin: 0.5rem;
    padding: 0.5rem;
    border-width: 5px;
    border-color: cornflowerblue;
    border-style: dashed;
}