@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#root * {
    /* font-family: roboto; */
    font-family: roboto, sans-serif;
}

#root > div > h1 {
    text-align: center;
}

#testing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#testing > #tabsbar {
    align-self: center;
}

#testing > #content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#testing > #content > * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 0.5rem;
    padding: 0.5rem;
    border-width: 5px;
    border-color: cornflowerblue;
    border-style: dashed;
}

#testing > #content > * > * {
    margin: 0.5rem;
    padding: 0.5rem;
    border-width: 5px;
    border-color: cornflowerblue;
    border-style: dashed;
}

#testing > #content #gridTest_cnt {
    height: 10rem;
    width: 500px;
}